<!DOCTYPE html>
<html lang="en">
 <head>
 	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Grounder</title>

    <!-- Bootstrap core CSS -->
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

 	<link href="/static/signin.css" rel="stylesheet">
 </head>


 <body class="text-center">
  <div class="jumbotron form-control">
   <h1 class="display-3">Welcome to Grounder!</h1>
   <p class="lead">Grounder is an image labelling service for machine learning algorithms.</p>
   <hr class="my-4">
   </p></p>
   <p class="lead">
   	  <form method="post" class="form-signin">
 		<button class="btn btn-primary btn-lg" type="submit">Start a new session</button>
 	  </form>
   </p>
  </div>
 </body>
</html>
