<!DOCTYPE html>
<html lang="en">
 <head>
 	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Groundr</title>

    <!-- Bootstrap core CSS -->
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

 	<link href="/static/signin.css" rel="stylesheet">
 </head>


 <body class="text-center">
  <div class="jumbotron form-control">
   <h1 class="display-3">Welcome to Groundr!</h1>
   <p class="lead">Groundr is an open source image annotation tool for machine learning and computer vision</p>
   <a href="https://github.com/uf-mil/Groundr">Source Code</a>
   <hr class="my-4">
   </p></p>
   <p class="lead">
   	  <form method="post" class="form-signin">
 		<button class="btn btn-primary btn-lg" type="submit">Start a new session</button>
 	  </form>
   </p>
   <a href="http://swamphacks.com"><img src="/static/swamphacks.svg" width="35%" class="rounded mx-auto d-block" alt="SwampHacks logo"></a>
   <p>Created at SwampHacks 2018</a>
  </div>
 </body>
</html>
