<html>                                                                                                    │
 <div class="container">                                                                                  │
    <form method="post">                                                                                  │
        <input type="submit" value="Start docker image" >                                                 │
    </form>                                                                                               │
 </div>                                                                                                   │
</html>
