<div>
    <h3>Directory
        <a ng-href="#!/dir/">/</a><span ng-repeat="parent in parents"><a  ng-href="/#!/dir/{{parent.href}}">{{parent.name}}</a>/</span>
        <a ng-href="#!/template{{dir}}" type="button" class="btn btn-info float-right">Edit Template</a>
    </h3>
    <div class="grounder-dir-children">
        <h4 ng-if="children.length > 0">Subdirectories</h4>
        <ul>
            <li ng-repeat="child in children">
                <a ng-href="/#!/dir{{dir}}{{child}}">{{child}}</a>
            </li>
            <li>
              <div class="input-group mb-3">
                <input ng-model="newdir" type="text" class="form-control" placeholder="MyDirectory" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button ng-model="newdir" ng-click="createDirectory()" class="btn btn-success" id="basic-addon2">Create</button>
                </div>
              </div>
            </li>
        </ul>
    </div>
    <div class="grounder-dir-images">
        <h4>Images</h4>
        <div class="input-group mb-3">
          <div class="custom-file">
            <input id="grounder-upload-box" type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
          <div class="input-group-append">
            <button ng-click="upload()" class="btn btn-success" id="basic-addon2">Upload</button>
          </div>
        </div>
        <ul>
            <li ng-repeat="image in images">
                <a ng-href="/#!/img{{dir}}{{image}}">{{image}}</a>
            </li>
        </ul>
    </div>
</div>
