<div>
    <h3>Directory
        <a ng-href="#!/dir/">/</a><span ng-repeat="parent in parents"><a  ng-href="/#!/dir/{{parent.href}}">{{parent.name}}</a>/</span>
    </h3>
    <a ng-href="#!/template{{dir}}" type="button" class="btn btn-info">Edit Template</a>
    <div class="grounder-dir-children">
        <h4>Subdirectories</h4>
        <ul>
            <li ng-repeat="child in children">
                <a ng-href="/#!/dir{{dir}}{{child}}">{{child}}</a>
            </li>
        </ul>
    </div>
    <div class="grounder-dir-images">
        <h4>Images</h4>
        <ul>
            <li ng-repeat="image in images">
                <a ng-href="/#!/img{{dir}}{{image}}">{{image}}</a>
            </li>
        </ul>
    </div>
</div>
